<section class="container">
  <nav class="mb-5" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home" class="link-danger">Acasa</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Contul meu</li>
    </ol>
  </nav>
  <main
    *ngIf="userData"
    class="card border-secondary mb-3"
    style="height: 45vh"
  >
    <div class="row g-0 h-100">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img
          class="img-fluid rounded-start"
          src="{{
            userData?.photoURL
              ? userData?.photoURL
              : '/assets/img/dummy-user.png'
          }}"
        />
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center">
        <div class="card-body">
          <h3 class="card-title">
            Bine ai venit,
            <strong>
              {{ userData?.displayName || "" }}
            </strong>
          </h3>
          <p class="card-text">
            Email: <strong>{{ userData?.email }}</strong>
          </p>
          <div *ngIf="userData?.isAdmin">
            <p class="card-text">
              <strong>Administrator</strong>
            </p>
            <a
              [routerLink]="['/admin']"
              class="btn btn-danger btn-sm rounded-pill px-3 py-2 mb-3"
              >Pagina admin</a
            >
          </div>
        </div>
      </div>
    </div>
  </main>

  <button class="btn btn-outline-danger" type="button" (click)="onLogout()">
    {{ userData ? "Deconectare" : "Conectare" }}
  </button>
</section>
