<div class="container">
  <div *ngIf="userData" class="card border-secondary mb-3" style="height: 40vh">
    <div class="row g-0 h-100">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img
          class="img-fluid rounded-start"
          src="{{
            userData?.photoURL
              ? userData?.photoURL
              : '/assets/img/dummy-user.png'
          }}"
        />
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center">
        <div class="card-body">
          <h2 class="card-title">
            Bine ai venit,
            <strong>
              {{ userData?.displayName ? userData?.displayName : "" }}
            </strong>
          </h2>
          <p class="card-text">
            Email: <strong>{{ userData?.email }}</strong>
          </p>
          <p *ngIf="userData?.isAdmin" class="card-text">
            <strong>Administrator</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-danger" type="button" (click)="onLogout()">
    {{ userData ? "Deconectare" : "Conectare" }}
  </button>
</div>
