<nav class="navbar bg-light">
  <div
    class="container-fluid d-flex flex-column align-items-center justify-content-center flex-md-row align-items-md-between justify-content-md-between gap-3"
  >
    <a class="navbar-brand" routerLink="home"
      ><img src="../../../assets/img/logo_f.gif" alt="logo"
    /></a>
    <form class="d-flex flex-grow-1" role="search" (ngSubmit)="onSearch()">
      <div class="input-group">
        <input
          class="form-control rounded-pill"
          type="search"
          placeholder="Cauta dupa titlu..."
          aria-label="Search"
          [formControl]="searchQuery"
        />
        <button class="btn btn-link" type="submit">
          <fa-icon
            [ngStyle]="{ color: 'red' }"
            [icon]="faMagnifying"
            size="1x"
          ></fa-icon>
        </button>
      </div>
    </form>
    <div class="align-self-end">
      <button type="button" class="btn btn-link position-relative m-3">
        <fa-icon
          [ngStyle]="{ color: '#0F1E5B' }"
          [icon]="faCart"
          size="2x"
        ></fa-icon>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          3
        </span>
      </button>
      <a
        *ngIf="!(isLoggedIn$ | async)"
        routerLink="log-in"
        class="btn btn-danger rounded-pill ms-3 px-3 py-2"
        >Conectare</a
      >
      <a
        *ngIf="isLoggedIn$ | async"
        class="btn btn-danger rounded-pill ms-3 px-3 py-2"
        (click)="authService.signOut()"
        routerLink="sign-in"
        >Deconectare</a
      >
    </div>
  </div>
</nav>
<hr />
