<div class="col">
  <div class="card h-100">
    <img
      src="{{ book.imageUrl }}"
      class="card-img-top img-fluid"
      alt="{{ book.title }}"
    />
    <div class="card-body">
      <h6 class="card-title">{{ slicedTitle }}</h6>
      <p class="card-text">{{ book.author }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="fw-bold lead">{{ priceToFixed }} lei</div>
        <button class="btn btn-danger btn-sm" type="button">Cumpara</button>
      </div>
    </div>
  </div>
</div>
